src/Bdo.V2G.HttpApi.Host/schemas/V2G_CI_PowerDeliveryReq.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="PowerDeliveryReqDto">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ChargeProgress" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="EVTargetVoltage" type="xs:double" minOccurs="1" maxOccurs="1"/>
                <xs:element name="EVTargetCurrent" type="xs:double" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
